{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Eliminar Articulo</title>
	<style>li{
		list-style-type: none; 
		background-color: #7fad39;
	  }
	  li a{
		text-decoration: none;
		color: white;
		padding: 25px;
		display: block;
		font-size: 25px;
	  }
	  li a:hover{
		  background: #599203;
	  }
	</style>
	<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
</head>
<body>
	{% block content %}
	<li><a href="../../listarArticulo">Regresar</a></li>
	<form action="." method="POST">{% csrf_token %}
		<h1>Quieres borrar este Articulo:</h1>
		<h2> {{ object.ArtNom }}/{{ object.ArtDes }}</h2>
		<input type="submit" value="confirmar">
	</form>
	{% endblock %}
</body>
</html>