{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Editar Proveedor</title>
	<style>li{
		list-style-type: none; 
		background-color: #7fad39;
	  }
	  li a{
		text-decoration: none;
		color: white;
		padding: 25px;
		display: block;
		font-size: 25px;
	  }
	  li a:hover{
		  background: #599203;
	  }
	</style>
	<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
</head>
<body>
	{% block content %}
	<li><a href="../listarProveedor">Regresar</a></li>
	<h2 align="center">Editando Proveedor...</h2>
	<form enctype='multipart/form-data' method='POST'>{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Grabar"/>
	</form>
	{% endblock %}
</body>
</html>