<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar Informacion</title>
    <style>
        li{
          list-style-type: none; 
          background-color: #7fad39;
        }
        li a{
          text-decoration: none;
          color: white;
          padding: 25px;
          display: block;
          font-size: 25px;
        }
        li a:hover{
            background: #599203;
        }
    </style>
</head>
<body>
    <li><a href="../../listarTrabajador">Regresar</a></li>
    <h1 align="center">Email enviado</h1>
</body>
</html>